<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="container-fluid">

  <header>
    <%- include('partials/header') %>
  </header>

  <main style="min-height: 85vh;">
    <div class="container jumbotron d-flex flex-column align-items-center justify-content-center" style="height: 70vh;">
      <h1>Wecome to the Neptune Recruiter API!!!</h1>
      <div class="mt-5">
        <a href="/swagger" class="btn btn-warning btn-lg my-2 my-sm-0" type="submit">DOCUMENTATION</a>
      </div>
    </div>
  </main>

  <footer>
    <%- include('partials/footer') %>
  </footer>

</body>

</html>